{% load static %}
<html>
    <head>
        <title>Django std blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>{% block header %}<a href="/">Django std Blog ホーム画面</a>{% endblock %}</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>

        <div class = "login">
            {% if user.is_authenticated %}
                <p>{{ user.get_username }}でログイン中</p>
                <a href='login/'>ログアウトする</a>
            {% else %}
                <p>ログインしていません</p>
            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                    <!-- {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h3><a href="">{{ post.title }}</a></h3>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %} -->
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>