{% load static %}
<html>
    <head>
        <title>Django std blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="home/">Django std Blog ホーム画面</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>

        <div class = "login">
            {% if user.is_authenticated %}
                <p>{{ user.get_username }}でログイン中</p>
                <a href='login/'>ログアウトする</a>
            {% else %}
                <p>ログインしていません</p>
            {% endif %}
        </div>
    </body>
</html>
    




